<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Bidrag</string>
	<string>KOOLO appen er et resultat av de erfaringer og de profesjonelle, konseptuelle, tekniske, kreative innsats av mange mennesker:</string>
	<string>Først av alt, våre entusiastiske med-designere, Ungdomsrådet Akershus universitetssykehus i Lørenskog. For mer info: https://www.facebook.com/ungdomsraadet.ahus/</string>
	<string>I Australia, Evelyn Culnane og Transition Support Service ved Royal Children sykehuset i Melbourne, som sjenerøst delte sine transisjon sjekklister. For mer info: http://www.rch.org.au/transition/</string>
	<string>I Canada, Geraldine Cullen-Dean og Good to Go Transition Program ved Sick Kids sykehuset i Toronto, som sjenerøst delte sine MyHealth 3-setning sammendrag. For mer info: http://www.sickkids.ca/good2go/</string>
	<string>I Norge, Britt Nakstad og Ungdomsmedisin prosjektet ved Akershus universitetssykehus i Lørenskog, som sjenerøst delte sine norske transisjon sjekklister. For mer info: http://www.ungdomsmedisin.no/</string>
	<string>Og Institutt for informatikk ved Universitetet i Oslo: Nora Svarverud Aasen, Alma molekyler, Chandrasekhar Kamatigam, Sumit Panday, Margaret Machniak Sommervold, Swati Srivastava, og Maja van der Velden. For mer info: http://www.kulu.no</string>
	<string>Spørsmål? Kontakt Maja van der Velden, KULU prosjekt leder, team@kulu.no</string>
</array>
</plist>
