<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Contributions</string>
	<string>The KOOLO app is the result of the experiences and professional, conceptual, technical, creative efforts of many people:</string>
	<string>First of all, our enthusiastic co-designers, the Youth Council of the Akershus University Hospital in Lørenskog. For more info: https://www.facebook.com/ungdomsraadet.ahus/</string>
	<string>In Australia, Evelyn Culnane and the Transition Support Service of The Royal Children&apos;s Hospital Melbourne, who generously shared their transition checklists. For more info: http://www.rch.org.au/transition/</string>
	<string>In Canada, Geraldine Cullen-Dean  and the Good 2 Go Transition Program of The Sick Children’s Hospital in Toronto, who generously shared their MyHealth 3-Sentence Summary. For more info: http://www.sickkids.ca/good2go/</string>
	<string>In Norway, Britt Nakstad and the Adolescent Medicine project of Akershus University Hospital in Lørenskog, who generously shared their Norwegian check lists. For more info: http://www.ungdomsmedisin.no/</string>
	<string>And the Department of Informatics at the University of Oslo: Nora Svarverud Aasen, Alma Culén, Chandrasekhar Kamatigam, Sumit Panday, Margaret Machniak Sommervold, Swati Srivastava, and Maja van der Velden. For more info: http://www.kulu.no</string>
	<string>For questions, please contact Maja van der Velden, KULU project leader, team@kulu.no</string>
</array>
</plist>
